div {
  text-align: center;
  width: 100%;
}

.header {
	background-color: #6ba3ff;
	height: 60px;
}
.logo {
	margin-left: 10px;
	float: left;
}
.logo p{
	font-weight: 1000;
	color: #2055aa;
	font-size: 25px;
	padding-left: 5px;
}

p {
	color: #6ba3ff;
}

.tittle {
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
}

.subtittle {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;  
}

.caution{
	font-size: 12px;
}

.button {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;
	text-align: : center;
}
li{
	display: inline;
}