.frame {
	text-align: center;
}

.title {
	color: #6ba3ff;
	font-size: 36px;
	text-align: center;
}

.sub {
	color: #6ba3ff;
	font-size: 20px;
	display: inline-block;
}

.box {
	font-size: 20px;
	width: 200px;
	border-radius: 5px;
}

.limitation {
	font-size: 10px;
	color: #6ba3ff;
	text-align: center;
}

.button {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;
}

.link {
	text-align: center;
	font-size: 20px;
	color: #6ba3ff;
	font-weight: bold;
}

table {
	width: 600px;
    margin-left: auto;
    margin-right: auto;
}