@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

div {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;		
}

.form {
  font-size: 20px;
  border-radius: 5px;
  height: 40px;	
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.top {
	background-color: #6ba3ff;
	height: 60px;
}

p {
	color: #6ba3ff;
}

.login {
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
}

.link {
	color: #6ba3ff;
	font-size: 24px;
}

.username {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;  
}

.sub {
  font-size: 24px;
  color: #6ba3ff;
  width: 180px;
}


.box {
  font-size: 20px;
  border-radius: 5px;
  height: 40px;	
}


.logi {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;
}

.biggest {
	text-align: center
}