@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

div {
  text-align: center;
}

.top {
  background-color: #6ba3ff;
  height: 60px;
}

 div {
  text-align: center;
  width: 100%;
}


p {
  color: #6ba3ff;
}

.page {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}

.link {
  color: #6ba3ff;
  font-size: 24px;
}

.name {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;  
}

.Username {
  
}

.sub, .limitation{
  font-size: 24px;
  color: #6ba3ff; 
}

.sub {
  width: 200px;
}

.register {
  width: 120px;
  height: 70px;
  font-size: 20px;
  padding: ;
  background-color: #6ba3ff;
  color: white;
  border-radius: 5px;

}

a {
  font-size: 24px;
  color: #6ba3ff; 
}




.box {
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
}

.f{
  color: blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
}

.table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.limitation {
  font-size: 13px
}